{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Preloader -->
<div id="preloader">
    <i class="circle-preloader"></i>
    <img src="{% static 'img/core-img/pizza.png' %}" alt="">
</div>

{% include 'partials/_busca.html'%}

{% include 'partials/_menu.html'%}



<div class="contact-area section-padding-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h3>Olá {{ user.username }}</h3>
                </div>
            </div>
        </div>
    </div>
 </div>


<!-- ##### Best Receipe Area Start ##### -->
<section class="best-receipe-area">
    <div class="container">
        <div class="row">
            {% if materias %}
            {% for materia in materias %}
            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-best-receipe-area mb-30">
                    <a href="{% url 'noticia' materia.id %}">
                        <img  src="{{ materia.foto.url }}" alt="">
                    </a>
                    <div class="receipe-content">
                        <a href="{% url 'noticia' materia.id %}">
                            <h5>{{materia.nome_materia}}</h5>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}




        </div>
    </div>
</section>
<!-- ##### Best Receipe Area End ##### -->
{% include 'partials/_footer.html'%}

<!-- ##### Footer Area Start ##### -->

{%endblock%}