{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Preloader -->
<div id="preloader">
    <i class="circle-preloader"></i>
    <img src="{% static 'img/core-img/pizza.png' %}" alt="">
</div>

{% include 'partials/_busca.html' %}

{% include 'partials/_menu.html' %}

<!-- ##### Contact Form Area Start ##### -->
<div class="contact-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h3>Edite aqui sua receita, {{ user.username }} :)</h3>
                </div>
            </div>
        </div>
        {% include 'partials/_alertas.html'%}
        <div class="row">
            <div class="col-12">
            <p>Todos os campos são obrigatórios</p>
                <div class="contact-form-area">
                    <form action="{% url 'atualiza_materia' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="text" id="materia_id" class="form-control" name="materia_id" value="{{materia.id}}" hidden>
                        <div class="row">
                            <div class="col-12 col-lg-12">
                                <label for="nome_materia"><b>Título da Matéria</b></label>
                                <input type="text" id="nome_materia" class="form-control" name="nome_materia" placeholder="" value="{{materia.nome_materia}}" required>
                            </div>
                            <div class="col-12">
                                <label for="file"><b>Resumo</b></label>
                                <textarea class="form-control" name="resumo" cols="30" rows="10" placeholder="" required>{{materia.resumo}}</textarea>
                            </div>
                            <div class="col-12">
                                <label for="file"><b>Matéria</b></label>
                                <textarea class="form-control" name="materia" cols="30" rows="10" placeholder="Atualize sua materia" required>{{materia.materia}}</textarea>
                            </div>
                            <div class="col-12 col-lg-4">
                                <label for="file"><b>Categoria da materia</b></label>
                                <input type="text" class="form-control" name="categoria" placeholder="" value="{{materia.categoria}}"required>
                            </div>
                            <div class="col-12 col-lg-4">
                                <label for="file"><b>Foto utilizada</b></label>
                                <img src="{{ materia.foto.url }}" alt="">
                            </div>
                            <div class="col-12 col-lg-4">
                                <label for="file"><b>Adicionar nova foto</b></label>
                                <input type="file" class="form-control" name="foto_materia">
                            </div>
                            <div class="col-12 text-center">
                                <button class="btn btn-success" type="submit">Atualizar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'partials/_footer.html' %}
{% endblock %}